.header {
  background-image: "../../public/images/imgHeader/mmai_logo.png";
}

.BoardContainer {
  width: 70vw;
  margin: 0 auto;
  margin-top: 5vh;

  .temp {
    width: 15%;
    height: 4vh;
    border: 3px solid #ededed;

    .search {
      font-weight: bold;
      font-size: 26px;
      height: 100%;
      float: right;
    }
  }

  .ant-table-thead .ant-table-cell {
    background-color: #bae0ff;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
  }

  .ant-table {
    width: 100%;
  }

  .ant-table-tbody > tr > td {
    border-bottom: 1px solid #ededed;
  }

  .ant-table-tbody > tr > td:first-child {
    border-left: none;
  }

  .writeBtn {
    margin-left: auto;
    margin-top: 1vh;

    a {
      text-decoration: none;
    }
  }
}
