.WriteContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;

  .writeBtn {
    margin-left: auto;
    margin-top: 1vh;
  }
}
