.SideBar {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  box-sizing: border-box;
  margin-top: 8vh;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;

    span {
      // font-size: 1.25rem;
      border-left: 2px solid #bae0ff;
      padding: 6px 10px;

      &:hover {
        background-color: #ededed;
        border-radius: 2px;
      }
    }
  }
}
