.BoardContainer {
  width: 70vw;
  margin: 0 auto;
}
.BoardContainer .test {
  width: 20%;
}
.BoardContainer .writeBtn {
  margin-left: auto;
  margin-top: 1vh;
}
.BoardContainer .writeBtn a {
  text-decoration: none;
}