.Footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

.firstline, .secondline {
    width: 80%;
    margin: 0 auto;
}

.firstline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}

.mmaititle {
    width: 75%;
    margin-top: 1%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.footer_mmai {
    width: 18%;
}

.footer_mmai:hover {
    cursor: pointer;
}

.mmaisns {
    width: 25%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.twitter, .telegram, .Youtube {
    width: 20%;
    min-width: 100px;
    text-align: center;
}

.sns {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.sns img {
    width: 40%;
}

.secondline {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;
    color : #909090;
    padding-bottom: 2%;
}

.footer_sns_img:hover {
    transform: scale(1.2);
    transition: .5s;
}

.by_mmai {
    font-size: 0.8vw;
}

.mmai_email {
    color: #ffffff;
    width: 24%;
    text-align: center;
    font-size: 1.2vw;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text
}