.gallBody {
    margin: 10vh 0;
}
.slideImg {
    width: 42rem;
    height: 26rem;
}
.slick-list{
  margin: 0;
  height: 400px;
}
.slick-slide{
  margin-right: 1%;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
    transform: rotate(.001deg);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-delay: 10ms;
}