.header_container {
    height: 16vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    z-index: 1;
}

.header_left {
    width: 20%;
    line-height: 16vh;
    text-align: right;
}

.header_name {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    cursor: pointer;
}

.header_center {
    width: 50%;
    line-height: 16vh;
}

.header_right {
    width: 30%;
    line-height: 16vh;
}

.header_categori1, .header_categori2 {
    margin: 0px 20px 0px 20px;
}

.header_categori1 {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
    cursor:default;
}

.header_categori2 {
    font-family: Roboto;
    font-size: 1rem;
    color: white;
}

.header_categori2:hover {
    color: white;
    font-size: 0.95rem;
    font-weight: bold;
    cursor: pointer;
}

.header_sns {
    margin: 0 15px 0 15px;
    font-size: 0.95rem;
    font-weight: bold;
    font-family: Roboto;
    color: white;
    text-decoration: none;
}

.header_sns:hover {
    cursor: pointer;
    border-bottom: 1px solid #767676;
    color: white;
}