.popUp {
    width: 500px;
    height: 500px;
    z-index: 2;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    /* 뷰포트 기준 인 듯 */
    transform: translate(-50%, -50%);
     /* x축, y축 */
}