.modal-content,
.x19061 {
    background-image: url("../../public/assets/buyMmaiToken7ae4c83d.webp");
    border-right: 1px solid black;
}

.modal .show .modal-dialog {
    --bs-modal-width: 900px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.x1 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 1);
    width: 1281.00px;
    height: 2249.00px;
    left: 0;
    top: 0;

}

.x1 .x19061 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1280.00px;
    height: 2249.00px;
    left: 0.00px;
    top: 0.00px;

}

.x1 .x19061 .x19057 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1280.00px;
    height: 2200.00px;
    left: 0.00px;
    top: 49.00px;

}

.x1 .x19061 .x19057 .x19054 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1280.00px;
    height: 2200.00px;
    left: 0.00px;
    top: 0.00px;

}

.x1 .x19061 .x19057 .x19054 .x19053 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1280.00px;
    height: 2200.00px;
    left: 0.00px;
    top: 0.00px;

}

.x1 .x19061 .x19057 .x19054 .x19053 .buyMmaiToken7ae4c83d {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../../public/assets/buyMmaiToken7ae4c83d.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 1280.00px;
    height: 2200.00px;
    left: 0.00px;
    top: 0.00px;

}

.x1 .x19061 .x19057 .x19054 .x19053 .buyMmaiToken {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0.5;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 1280.00px;
    height: 2200.00px;
    left: 0.00px;
    top: 0.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1006.00px;
    height: 1970.00px;
    left: 138.00px;
    top: 113.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19044 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 525.00px;
    height: 142.00px;
    left: 240.00px;
    top: 0.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19044 .buy {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 82.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 70.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 525.00px;
    height: 92.00px;
    left: 0.00px;
    top: 5.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19044 .soonAvailableInMoreExchanges {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 433.00px;
    height: 37.00px;
    left: 47.00px;
    top: 106.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1006.00px;
    height: 223.00px;
    left: 0.00px;
    top: 407.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 .step1 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 81.00px;
    height: 37.00px;
    left: 462.00px;
    top: 1.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 .copyToYourClipboardOurOfficialContractAddress {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 657.00px;
    height: 37.00px;
    left: 175.00px;
    top: 61.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 1006.00px;
    height: 37.00px;
    left: 0.00px;
    top: 187.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers-0 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 28.00px;
    font-family: Roboto, Arial;
    letter-spacing: 0;
    text-decoration: none;
}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers-34 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 28.00px;
    font-family: Roboto, Arial;
    letter-spacing: 0;
    text-decoration: underline;
}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers-44 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 28.00px;
    font-family: Roboto, Arial;
    letter-spacing: 0;
    text-decoration: none;
}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers-48 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 28.00px;
    font-family: Roboto, Arial;
    letter-spacing: 0;
    text-decoration: underline;
}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers .doubleCheckContractAddressInEtherscanAndDextoolsToAvoidScammers-56 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 28.00px;
    font-family: Roboto, Arial;
    letter-spacing: 0;
    text-decoration: none;
}

.x1 .x19061 .x19057 .x19054 .x19052 .x19047 .x0xaa0c5b3567fd1bac8a2a11eb16c3f81a49eea90f {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(79, 251, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: underline;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 639.00px;
    height: 37.00px;
    left: 183.00px;
    top: 121.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19048 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 459.00px;
    height: 208.00px;
    left: 273.00px;
    top: 685.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19048 .step2 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 81.00px;
    height: 37.00px;
    left: 189.00px;
    top: 1.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19048 .openUniswapOfficialWebsite {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 394.00px;
    height: 37.00px;
    left: 34.00px;
    top: 51.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19048 .x19046 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 459.00px;
    height: 36.00px;
    left: 0.00px;
    top: 172.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19048 .x19046 .makeSureTheWebsiteEndsInOrg {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 26.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    width: 459.00px;
    height: 36.00px;
    left: 0.00px;
    top: 1.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19048 .httpsuniswaporg {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(79, 251, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: underline;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 255.00px;
    height: 37.00px;
    left: 102.00px;
    top: 111.50px;
    cursor: pointer;
}

.x1 .x19061 .x19057 .x19054 .x19052 .x19043 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 912.00px;
    height: 160.00px;
    left: 47.00px;
    top: 208.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19043 .x17aaf7be2b4f4e6eBc4602489ac1451d {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../../public/assets/x17aaf7be2b4f4e6eBc4602489ac1451d.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 30.00px;
    border-top-right-radius: 30.00px;
    border-bottom-left-radius: 30.00px;
    border-bottom-right-radius: 30.00px;
    box-shadow: none;
    width: 128.00px;
    height: 128.00px;
    left: 188.00px;
    top: 16.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19043 .x8682e61f731444f8A9951ca81641c5e5 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../../public/assets/x8682e61f731444f8A9951ca81641c5e5.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 128.00px;
    height: 128.00px;
    left: 596.00px;
    top: 16.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19043 .x0452459dAde74bd2A93eCa6f9ed091c0 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../../public/assets/x0452459dAde74bd2A93eCa6f9ed091c0.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 128.00px;
    height: 128.00px;
    left: 784.00px;
    top: 16.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19043 .f09a0df8068844d6Ab673334fc120d76 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../../public/assets/f09a0df8068844d6Ab673334fc120d76.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 160.00px;
    height: 160.00px;
    left: 376.00px;
    top: 0.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19043 .picsart220919213842370 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../../public/assets/picsart220919213842370.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 128.00px;
    height: 128.00px;
    left: 0.00px;
    top: 16.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19049 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 919.00px;
    height: 390.00px;
    left: 43.00px;
    top: 950.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19049 .itWillOpenTheSwapWindowAndWillAutomaticallyPairToEth {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 794.00px;
    height: 37.00px;
    left: 63.00px;
    top: 191.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19049 .step3 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 88.00px;
    height: 37.00px;
    left: 416.00px;
    top: 1.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19049 .launchTheUniswapAppByClickingTheButtonOnTheRightUpperCorner {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 919.00px;
    height: 37.00px;
    left: 0.00px;
    top: 61.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19049 .uniswapProcess3 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../../public/assets/uniswapProcess3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 105.00px;
    height: 44.00px;
    left: 407.00px;
    top: 122.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19049 .uniswapProcess2 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../../public/assets/uniswapProcess2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 206.00px;
    height: 133.00px;
    left: 357.00px;
    top: 257.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19050 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 828.00px;
    height: 395.00px;
    left: 89.00px;
    top: 1374.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19050 .step4 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 81.00px;
    height: 37.00px;
    left: 374.00px;
    top: 1.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19050 .clickSelectTokenAndPasteTheOfficialMmaiContractAddressitWillAutomaticallyLoadTheTokenInformation {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 828.00px;
    height: 105.00px;
    left: 0.00px;
    top: 61.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19050 .uniswapProcess4 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("../../public/assets/uniswapProcess4.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 217.00px;
    height: 205.00px;
    left: 306.00px;
    top: 190.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19051 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 750.00px;
    height: 165.00px;
    left: 128.00px;
    top: 1805.00px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19051 .theFinalStepIsToSetTheAmountToBuyconnectYourCryptoWalletToContinueWithTheTransaction {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 750.00px;
    height: 105.00px;
    left: 0.00px;
    top: 61.50px;

}

.x1 .x19061 .x19057 .x19054 .x19052 .x19051 .step5 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 34.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 28.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 81.00px;
    height: 37.00px;
    left: 335.00px;
    top: 1.50px;

}

.x1 .x19061 .close9efd7753 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 30.00px;
    height: 30.00px;
    left: 1250.00px;
    top: 0.00px;

}

.x1 .x19061 .close9efd7753 .close {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: 0.00px;
    padding: 0.00px;
    fill: rgba(255, 255, 255, 1);
    box-shadow: none;
    width: 30.00px;
    height: 30.00px;
    left: 0.00px;
    top: 0.00px;

}
