.modal-content{
  /* background-image: url('../../public/back.png'); */
}

.go{
  background-image: linear-gradient(134deg, #25d3d6 -1%, #ec6df7 80%);
  color: white;
  padding: 1rem 1.5rem;
  cursor: pointer;
  margin-top: 2%;
}
.modal .show .modal-dialog{
  --bs-modal-width: 900px;
}