.part {
    width: 80%;
    margin: 7% auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.box1, .box2, .box3, .box4 {
    width: 20%;
    text-align: center;
    box-shadow: 5px 3px 20px 1px #999;
}

.new_logo, .ictcrec4x, .NSLAB4x, .Logo-Dark {
    width: 100%;
}