/* .whiteBody{
    display: flex;
    flex-direction: column;
    margin: 0 14.5rem 0 14.5rem;
} */

.MMAI-White-Papers {
    text-align: center;
    margin-left: 15%;
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: left;
    color: #000;
}
.contentbox {
    margin: 0 15% 0 15%;
    margin-top: 1%;
    font-family: Roboto;
    font-size: 1rem;
    text-align: left;
    color: #767676;
}
.smaltitle {
    width: 80%;
    margin-left: 15%;
    margin-top: 7%;
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
    color: #000;
}
.imgcontent{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.paperbox {
    margin: 10% 15% 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.paperImg{
    width: 12rem;
}
.mtitle{
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: bolder;
    color: #202020;
}
.stitle{
    margin-top: 13%;
    font-family: Roboto;
    font-size: 0.7rem;
    font-weight: bolder;
    color: #909090;
}
.downbtn{
    margin-top: 20%;
    width: 9rem;
    height: 2.5rem;
    padding: 0.563rem 1.75rem 0.531rem;
    background-color: #3c65ea;
    color: white;
}
.downbtn:hover{
    background-color: rgb(30, 65, 182);
}

@media (min-width : 1098px) {
    .paperbox {
        flex-wrap: nowrap;
    }
}