.mobileTokenPhoto {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../public/images/imgMobile/mobile_token.webp')
}

.mobileTokenBtn {
    padding: 85% 0 9% 0;
    width: 100%;
    text-align: center;
}

.mobileTokenBtnImg {
    width: 35%;
}

.mobileTokenContents {
    width: 90%;
    margin: 0 auto;
}

.mobileTokenContents1 {
    font-size: 0.85rem;
    color: #191919;
    margin-top: 5%;
    font-weight: bold;
}

.mobileTokenContents2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 5% 0 8% 0;
}

.mobileTokenContents3 {
    font-size: 0.9rem;
    color: #767676;
    margin-bottom: 7%;
}

.mobileCoinphoto {
    display: flex;
    flex-direction: column;
}

.mobileCoinOne, .mobileCoinTwo {
    width: 90%;
    margin: 0 auto;
}

.mobileCoinOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobileCoinOne a {
    text-align: center;
}

.mobileCoinTwo {
    margin-bottom: 10%;
}

.mobileCoinOneImg {
    width: 80%;
}

.mobileCoinTwoImg {
    margin-top: 3%;
    width: 100%;
}