.mobileMainContainer {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-image: url('../../public/imgMobile/mobileMain.webp')
}

.mobileMainContents {
    padding-top: 15%;
    padding-bottom: 85%;
}

.mmimg {
    display: none !important;
}

.mobileHeader {
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobileTitle {
    width: 40%;
    font-size: 1.8rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.mobilesns {
    font-size: 0.8rem;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobilesns a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.mobilesns a:hover {
    font-weight: bold;
    border-bottom: 1px solid white;
}