.mobileWorldContents {
    width: 90%;
    margin: 0 auto;
}

.mobileWorldContents1 {
    font-size: 0.85rem;
    font-weight: bold;
    color: #191919;
    margin-top: 5%;
}

.mobileWorldContents2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 5% 0 8% 0;
}

.mobileWorldContents3 {
    font-size: 0.9rem;
    color: #767676;
    margin-bottom: 7%;
}

.mobileWorldVideo {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 15%;
}

#mobileWorldVideoImg {
    width: 100%;
}