.mobileWalletContents {
    width: 90%;
    margin: 0 auto;
}

.mobileWalletContents1 {
    font-size: 0.85rem;
    color: #191919;
    margin-top: 5%;
    font-weight: bold;
}

.mobileWalletContents2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 5% 0 8% 0;
}

.mobileWalletContents3 {
    font-size: 0.9rem;
    color: #767676;
    margin-bottom: 5%;
}