.mobilePartnersContainer {
    width: 90%;
    margin: 0 auto;
}

.mobilePartnersTitle {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10%;
    color: #191919;
    text-align: center;
}

.mobilrPartners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mobilePartnersBox {
    width: 50%;
}

.mobilePartnersBox img {
    width: 100%;
}