@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@media (min-width : 751px) {
    .mobile {
        display: none;
    }
}

@media (max-width : 750px) {
    .pc {
        display: none;
    }
}


.App{
    font-family:  Roboto, 'Apple SD Gothic Neo', sans-serif;
}
/* html{
    font-size: 80%;
} */
.AI-Technology-Partners {
    margin-top: 5%;
    text-align: center;
    height: 24px;
    font-family: Roboto, 'Apple SD Gothic Neo', Sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}
.MMAI-Solution {
    font-family: Roboto, 'Apple SD Gothic Neo', Sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20%;
    margin-left: 15%;
}

.gallText {
    margin-left: 15%;
    height: 24px;
    font-family: Roboto, 'Apple SD Gothic Neo', Sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}
